@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-sans: "roboto", "sans-serif";
  --font-decor: "orbitron", "serif";
}

@utility custom-background {
  background: linear-gradient(to right, #333336, #565e79);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #2b2b2b;
    color: white;
  }
}

@media (min-width: 768px) {
  body {
    padding: 2em 4em;
  }
}

@font-face {
  font-family: "orbitron";
  src: url("../fonts/orbitronregular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "orbitron";
  src: url("../fonts/orbitronsemibold-webfont.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/robotobold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/robotosemibold-webfont.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/robotoregular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/robotolight-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
